DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password
DB_HOST=your_database_host
DB_TIMEZONE=+07:00
PORT=your_port_number

# example untuk tugas notes
# DB_NAME=db_notes
# DB_USER=root
# DB_PASS=
# DB_HOST=localhost
# DB_TIMEZONE=+07:00
# PORT=3000